@import "../../scss/var.scss";
$img: "../../../../public/img";
$fonts: "../../../../public/fonts";
.Button{
	width: 34px;
	height: 34px;
	border-radius: 100%;
	border: 1px solid rgba(15, 20, 25, 0.1);;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 200ms;
	cursor: pointer;
	margin-right: 7px;
	&:hover{
		background: rgba(15, 20, 25, 0.1);
	}
	svg{
		fill: $black;
		width: 20px;
		height: 20px;
	}
}
//15 20 25 0.1