@import "../../scss/var.scss";

.header{
    width: 100%;
	height: $headerHeight;
    border-bottom: 1px solid rgb(239, 243, 244);
    @media(max-width:598px){
        width: 100vw;
    }
    &__row{
        width: 100%;
        height: 50%;
        &_decor{
            background: url(../../../public/img/decor-2.jpg) center/cover;
        }
        &_info{
            position: relative;
            padding: 15% 2.5%;
            display: flex;
            flex-direction: column;
            .logo{
                position: absolute;
                top: 0%;
                transform: translateY(-50%);
                width: 135px;
                height: 135px;
            }
        }
        h1{
            font-size: 20px;
            font-weight: bolder;
			margin-bottom: 0.3vh;
			position: relative;
			
        }
        h2{
            color: $darkGrey;
            margin-bottom: 1vh;
			font-size: 15px;
        }
        span{
            color: $black;
            font-size: 15px;
            font-weight: normal;
            margin-bottom: 2vh;
        }
        
	}

	.data{
		display: flex;
		
		svg{
			width: 20px;
			height: 20px;
			fill: $darkGrey;
			margin-right: 0.2vw;
		}
		&__row{
			margin-right: 0.7vw;
			font-size: 15px;
			display: flex;
			justify-content: center;
			align-items: center;

			color: $darkGrey;
			&_github{
				color: $lightBlue;
				cursor: pointer;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}

    