$grey: rgb(207, 217, 222);
$lightGrey: rgb(247, 247, 247);
$darkGrey: rgb(83, 100, 113);
$blue: rgb(54, 165, 241);
$green: rgb(0, 186, 124);
$lightGreen: rgb(222, 241, 235);
$black: #0f1419;
$headerHeight: 43.69042553191489vh;
$postHeight:51.43617021276596vh;
